@font-face {
  font-family: Calibri Light;
  src: url(../fonts/CalibriLight.ttf);
}

/* line 64, ../sass/helper.sass */
.z-1 {
  z-index: 1;
}

/* line 64, ../sass/helper.sass */
.z-2 {
  z-index: 2;
}

/* line 64, ../sass/helper.sass */
.z-3 {
  z-index: 3;
}

/* line 64, ../sass/helper.sass */
.z-4 {
  z-index: 4;
}

/* line 64, ../sass/helper.sass */
.z-5 {
  z-index: 5;
}

/* line 64, ../sass/helper.sass */
.z-6 {
  z-index: 6;
}

/* line 64, ../sass/helper.sass */
.z-7 {
  z-index: 7;
}

/* line 64, ../sass/helper.sass */
.z-8 {
  z-index: 8;
}

/* line 64, ../sass/helper.sass */
.z-9 {
  z-index: 9;
}

/* line 64, ../sass/helper.sass */
.z-10 {
  z-index: 10;
}

/* line 64, ../sass/helper.sass */
.z-11 {
  z-index: 11;
}

/* line 64, ../sass/helper.sass */
.z-12 {
  z-index: 12;
}

/* line 64, ../sass/helper.sass */
.z-13 {
  z-index: 13;
}

/* line 64, ../sass/helper.sass */
.z-14 {
  z-index: 14;
}

/* line 64, ../sass/helper.sass */
.z-15 {
  z-index: 15;
}

/* line 64, ../sass/helper.sass */
.z-16 {
  z-index: 16;
}

/* line 64, ../sass/helper.sass */
.z-17 {
  z-index: 17;
}

/* line 64, ../sass/helper.sass */
.z-18 {
  z-index: 18;
}

/* line 64, ../sass/helper.sass */
.z-19 {
  z-index: 19;
}

/* line 64, ../sass/helper.sass */
.z-20 {
  z-index: 20;
}

/* line 67, ../sass/helper.sass */
.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

/* line 75, ../sass/helper.sass */
.next-button, .start-button, .correct, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 3vmax;
  text-align: center;
  padding-top: 8.5%;
}

/* line 89, ../sass/helper.sass */
.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black;
}

/* line 93, ../sass/helper.sass */
.absolute-max, #main, .frame, .intro-pic {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 102, ../sass/helper.sass */
.absolute, .reg-box, #frame-000 .annotation-hidden, #frame-000 .annotation-button, #frame-000 .copyright, .intro-video, .intro-pic .grade, .intro-pic .subject {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 107, ../sass/helper.sass */
.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 114, ../sass/helper.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 121, ../sass/helper.sass */
* {
  font-family: Verdana;
}

/* line 125, ../sass/helper.sass */
.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white;
}

/*GLOBAL AND MENU */
/* line 130, ../sass/helper.sass */
body {
  position: absolute;
  margin: 0%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-size: 50px;
}

/* line 144, ../sass/helper.sass */
.frame {
  background-size: 100% 100%;
  overflow: hidden;
}

/*REG BOX */
/* line 151, ../sass/helper.sass */
.reg-box {
  left: 80%;
  top: 75%;
  width: 19%;
  height: 20%;
  border-radius: 7px;
  border: 1px solid lightgrey;
  opacity: 0.9;
  color: white;
  background-color: grey;
  font-size: 20%;
  font-family: Verdana;
  padding: 1em;
  line-height: 2em;
  text-align: right;
  z-index: 10;
  font-family: Verdana;
}

/* line 167, ../sass/helper.sass */
.reg-box.topcorner {
  left: 1.5%;
  top: 95%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 171, ../sass/helper.sass */
.reg-box .error {
  color: red;
  font-size: 80%;
  text-align: center;
}

/* line 176, ../sass/helper.sass */
.reg-box input {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  font-family: Verdana;
  height: 2em;
  width: 13em;
  padding: 0.25em;
}

/* line 186, ../sass/helper.sass */
.reg-box .enter-button {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  width: 10em;
  height: 2em;
  padding: 0.25em;
}

/* line 195, ../sass/helper.sass */
.reg-box .enter-button:hover {
  background-color: black;
  color: white;
}

/*ANNOTATION */
/* line 200, ../sass/helper.sass */
#frame-000 .annotation-hidden {
  z-index: 20;
  left: -120%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  padding: 3em 7em;
  font-size: 30%;
  font-family: Calibri Light;
  text-align: left;
}

/* line 212, ../sass/helper.sass */
#frame-000 .annotation-hidden ul li {
  font-family: Calibri Light;
  font-size: 75%;
}

/* line 216, ../sass/helper.sass */
#frame-000 .annotation-hidden .footer {
  font-family: Calibri Light;
  font-style: italic;
  font-size: 100%;
}

/* line 221, ../sass/helper.sass */
#frame-000 .annotation-hidden .header {
  font-family: Calibri;
  font-style: bold;
  font-size: 120%;
  display: block;
  min-width: 100%;
  text-align: center;
}

/* line 229, ../sass/helper.sass */
#frame-000 .annotation-shown {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

/* line 232, ../sass/helper.sass */
#frame-000 .annotation-button {
  z-index: 23;
  left: 5%;
  top: 85%;
  width: 5%;
  height: 5%;
  font-size: 30%;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* line 241, ../sass/helper.sass */
#frame-000 .annotation-button:hover {
  color: blue;
}

/* line 244, ../sass/helper.sass */
#frame-000 .annotation-button-close {
  color: gray;
}

/* line 247, ../sass/helper.sass */
#frame-000 .copyright {
  z-index: 15;
  left: 77%;
  top: 96%;
  width: 23%;
  height: 5%;
  font-size: 15%;
  color: black;
}

/*INTRO VIDEO */
/* line 259, ../sass/helper.sass */
.intro-video {
  display: block;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 17;
  background-color: white;
}

/*INTRO PIC */
/* line 268, ../sass/helper.sass */
.intro-pic {
  background-image: url(../pics/intro-pic.png);
  z-index: 16;
}

/* line 273, ../sass/helper.sass */
.intro-pic .grade {
  left: 26%;
  top: 36.8%;
  width: 4.85%;
  height: 8.2%;
  font-family: Calibri Light;
  font-size: 70%;
  color: white;
  text-align: center;
}

/* line 281, ../sass/helper.sass */
.intro-pic .subject {
  left: 41.95%;
  top: 45.8%;
  width: 45%;
  height: 13.1%;
  font-family: Calibri Light;
  font-size: 45%;
  color: #666564;
  text-align: left;
}

/* line 289, ../sass/helper.sass */
.intro-pic .subject .sub-part {
  font-size: 70%;
  font-family: Calibri Light;
}

/*FRAME 105 */
/* line 295, ../sass/helper.sass */
#frame-105 .basket.average {
  left: 20.2%;
  top: 73%;
  width: 22.35%;
  height: 3.8%;
}

/* line 298, ../sass/helper.sass */
#frame-105 .basket.atomic-mass {
  left: 40.35%;
  top: 65.1%;
  width: 13.6%;
  height: 3.8%;
}

/* line 301, ../sass/helper.sass */
#frame-105 .basket.below {
  left: 20.2%;
  top: 69.1%;
  width: 5%;
  height: 3.8%;
}

/* line 304, ../sass/helper.sass */
#frame-105 .basket.above {
  left: 11.45%;
  top: 69.1%;
  width: 5.3%;
  height: 3.8%;
}
